
body {
  font-family: Arial, sans-serif; 
  align-items: center;
}


h1 {
  text-align: center; 
  color: black; 
  margin-top: 20px; 
}

h2 {
  text-align: center; 
  color: black; 
  margin-top: 20px; 
}

h3 {
  text-align: center; 
  color: black; 
  margin-top: 20px; 
} 
h4 {
  text-align: center; 
  color: black; 
  margin-top: 20px; 
}

form {
  text-align: center; 
}


button {
  padding: 10px 20px; 
  background-color: #818486; 
  color: white; 
}

.user-list {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 15px; 
  padding: 20px;
}

.user-card {
  background-color: white; 
  border: 1px solid #ddd; 
  padding: 20px; 
  width: 200px; 
  text-align: center; 
}

.user-card h2 {
  font-size: 18px; 
}